<div class="pokemon_content">
  <p-table [value]="pokemonList"
           [paginator]="true"
           responsiveLayout="stack"
           scrollHeight="flex"
           [rows]="5"
           currentPageReportTemplate="Showing  entries">
    <ng-template pTemplate="header">
      <tr>
        <th>ID</th>
        <th>Pokemon</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-pokemon  let-rowIndex="rowIndex">
      <tr (click)="idPokemon(rowIndex + 1)">
        <td>{{rowIndex + 1}}</td>
        <td>{{pokemon.name}}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft">
      <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
    </ng-template>
    <ng-template pTemplate="paginatorright">
      <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
    </ng-template>
  </p-table>

  <app-pokemon class="pokemon-card_container" [pokemonInfo]="pokemonInfo" *ngIf="pokemonInfo"></app-pokemon>
  <app-dialog class="pokemon-dialog_container" [pokemonInfo]="pokemonInfo" [displayResponsive]="displayResponsive"></app-dialog>
</div>



